{{/* layouts/partials/post-card-medium-no-summary.html */}}
<div class="sa-post mid-post"> {{/* 沿用原模板的 class */}}
    {{ with .Params.image }}
    <div class="entry-header">
        <div class="entry-thumbnail">
            <a href="{{ $.Permalink }}">
                <img class="img-fluid" src="{{ . | relURL }}" alt="{{ $.Title }}">
            </a>
        </div>
    </div>
    {{ else }}
    <div class="entry-header">
        <div class="entry-thumbnail">
             <a href="{{ $.Permalink }}">
                <div style="width:100%; height:180px; background:#eee; display:flex; align-items:center; justify-content:center; font-size:0.9em; color:#777; text-align:center;">无预览图</div>
            </a>
        </div>
    </div>
    {{ end }}
    <div class="entry-content">
        {{/* 原始模板中这类卡片的分类标签可能没有，如果需要可以加上
        {{ with .Params.categories }}
        <div class="category mb-1">
            <ul class="global-list">
                <li><a href="{{ "/categories/" | relURL }}{{ index . 0 | urlize }}">{{ index . 0 }}</a></li>
            </ul>
        </div>
        {{ end }}
        */}}
        <h3 class="entry-title"> {{/* 原始HTML这里是h3 */}}
            <a href="{{ .Permalink }}">{{ .Title | truncate 70 }}</a>
        </h3>
        <div class="entry-meta mb-2"> {{/* 确保有 mb-2 如果标题和meta间距过小 */}}
            <ul class="global-list">
                <li><i class="far fa-clock"></i><a href="#"> {{ .Date.Format ($.Site.Params.dateFormat | default "Jan 2, 2006") }}</a></li>
                {{ with .Params.views }}<li><i class="far fa-eye"></i><a href="#">{{ . }}</a></li>{{ end }}
                {{ with .Params.likes }}<li><i class="far fa-heart"></i><a href="#">{{ . }}</a></li>{{ end }}
            </ul>
        </div>
        {{/* 此处没有摘要 <p> 标签 */}}
    </div>
</div>