<script src="{{ "js/jquery.min.js" | relURL }}"></script>
<script src="{{ "js/popper.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
<script src="{{ "js/slick.min.js" | relURL }}"></script>
<script src="{{ "js/theia-sticky-sidebar.min.js" | relURL }}"></script>
<script src="{{ "js/magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "js/carouFredSel.js" | relURL }}"></script> <!-- 注意这个库可能比较旧 -->
<script src="{{ "js/validate.js" | relURL }}"></script>
<script src="{{ "js/main.js" | relURL }}"></script>
<script src="{{ "js/theme-switcher.js" | relURL }}"></script> <!-- 引入我们的主题切换脚本 -->
<script src="{{ "js/back-to-top.js" | relURL }}"></script>
<script src="{{ "js/lunr.min.js" | relURL }}"></script> 
<script src="{{ "js/search.js" | relURL }}"></script>
<script src="{{ "js/translate.js" | relURL }}"></script><!-- 引入多语言翻译脚本 -->
<script>
    translate.language.setLocal('chinese_simplified');
    translate.selectLanguageTag.languages = 'english,chinese_simplified,chinese_traditional,spanish,french,arabic,russian,portuguese,japanese,korean';
    translate.service.use('client.edge');
    translate.execute();
</script>  
<!-- 引入广告联盟脚本 -->
<script type="text/javascript">
  var vglnk = {key: '9354607c3ae661f2a369c6173aa33d4c'};
  (function(d, t) {var s = d.createElement(t);
    s.type = 'text/javascript';s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0];
    r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>