{{/* layouts/partials/post-card-video.html */}}
<div class="sa-post mid-post">
    <div class="entry-header">
        <div class="entry-thumbnail">
            {{ with .Params.video_embed_url }}
                <iframe src="{{ . }}" sandbox="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; min-height:180px;"></iframe>
            {{ else }}
                {{/* video_embed_url 不存在，现在检查 image */}}
                {{ if .Params.image }}
                    <a href="{{ $.Permalink }}"><img class="img-fluid" src="{{ .Params.image | relURL }}" alt="{{ $.Title }}"></a>
                {{ else }}
                    <div style="width:100%; height:180px; background:#eee; display:flex; align-items:center; justify-content:center;">无预览</div>
                {{ end }}
            {{ end }} {{/* 结束 with .Params.video_embed_url */}}
        </div>
        {{ with .Params.categories }}
        <div class="category">
            <ul class="global-list">
                <li><a href="{{ "/categories/" | relURL }}{{ index . 0 | urlize }}">{{ index . 0 }}</a></li>
            </ul>
        </div>
        {{ end }}
    </div>
    <div class="entry-content">
        <h2 class="entry-title"><a href="{{ .Permalink }}">{{ .Title | truncate 40 }}</a></h2>
        <div class="entry-meta">
            <ul class="global-list">
                <li><i class="far fa-clock"></i><a href="#"> {{ .Date.Format ($.Site.Params.dateFormat | default "Jan 2, 2006") }}</a></li>
                {{ with .Params.views }}<li><i class="far fa-eye"></i><a href="#">{{ . }}</a></li>{{ end }}
            </ul>
        </div>
    </div>
</div>