<script src="{{ "js/jquery.min.js" | relURL }}"></script>
<script src="{{ "js/popper.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
<script src="{{ "js/slick.min.js" | relURL }}"></script>
<script src="{{ "js/theia-sticky-sidebar.min.js" | relURL }}"></script>
<script src="{{ "js/magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "js/carouFredSel.js" | relURL }}"></script> <!-- 注意这个库可能比较旧 -->
<script src="{{ "js/validate.js" | relURL }}"></script>
<script src="{{ "js/main.js" | relURL }}"></script>
<script src="{{ "js/theme-switcher.js" | relURL }}"></script> <!-- 引入我们的主题切换脚本 -->
<script src="{{ "js/back-to-top.js" | relURL }}"></script>
<script src="{{ "js/lunr.min.js" | relURL }}"></script> 
<script src="{{ "js/search.js" | relURL }}"></script>
<!-- 引入广告联盟脚本 -->
<script type="text/javascript">
  var vglnk = {key: '9bba3ed366e337c3ed0fae1fb4e04b06'};
  (function(d, t) {var s = d.createElement(t);
    s.type = 'text/javascript';s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0];
    r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>