<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "preloader.html" . }}
    {{ partial "header.html" . }}

    <main role="main">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

            <!-- 返回顶部按钮 -->
            <a href="#" id="back-to-top" class="back-to-top-button" title="返回顶部">
                <i class="fa fa-chevron-up"></i>
            </a>
            
    {{ partial "scripts.html" . }}
</body>
</html>